{% extends 'dashboard/home.html' %}
{% block dashboard_heading %}
Blogs
{% endblock dashboard_heading %}
{% block dashboard_content %}
{% for blog in blogs %}
<div class="card shadow mb-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'app_dashboard:dashboard_blog_update' blog.slug %}">{{blog.title}}</a></h6>
    </div>
    <div class="card-body">
    {{blog.description|truncatewords:30}}
    </div>
</div>
{% endfor %}
{% include "dashboard/paginator.html" with blogs=blogs only %}
{% endblock dashboard_content %}